@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    /* Theme colors */
    --brand-color: #F62F63;
    --dark-color: #212529;
    --mid-color: #2A2A2A;
    --light-color: #FFFFFF;

    --card-border-width: 3px;

    /* Battery state colors */
    --full: rgba(28, 171, 28, 0.853);
    --ok: rgba(88, 228, 18, 0.742);
    --low: rgba(255, 166, 0, 0.829);
    --discharged: rgba(255, 0, 0, 0.762);
}

body {
    font-family: 'Poppins';
    box-sizing: border-box;
    margin: 0;
}

hgroup {
    text-align: center;
    margin-bottom: 2rem;
}

tr {
    vertical-align: middle;
}

footer {
    text-align: center;
    margin-block: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

hr {
    border-top: solid 2px #504f4fdb;
    margin-top: 3rem;
}

#subtitle {
    font-family: 'Sriracha', cursive;
    font-size: x-large;
    color: var(--brand-color);
}

.heading {
    text-align: center;
    margin-top: 1rem;
}

/* Background color utilities */
.background-dark {
    background-color: var(--dark-color);
}

.background-mid {
    background-color: var(--mid-color);
}

.background-light {
    background-color: var(--light-color);
}


/* Font color utilities */
.font-dark {
    color: var(--dark-color);
}

.font-light {
    color: var(--light-color);
}


/* Light & Dark Theme switching */
#theme-selector {
    list-style: none;
}

.theme-icon,
.theme-icon-active {
    max-width: 1rem;
    max-height: 1rem;
}


/* Add Battery Modal */
#add-button {
    float: right;
}

.btn-close {
    position: absolute;
    right: 10px;
    top: 10px;
}

.button-container {
    display: inline-flex;
    gap: 1rem;
}


/* Readings Chart */
#chartContainer {
    height: 300px;
    width: 80%;
}


/* Battery Cards */
.full {
    background-color: var(--full);
}

.ok {
    background-color: var(--ok);
}

.low {
    background-color: var(--low);
}

.discharged {
    background-color: var(--discharged);
}

.battery-indicator {
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
    fill: currentcolor;
}


/* Readings Table */
/* #voltage-reading-table-container {
    padding-block-end: 3rem;
} */

td.background-dark {
    background-color: var(--dark-color);
}

td.background-mid {
    background-color: var(--mid-color);
}

.gridjs-input,
.gridjs-search-input,
.gridjs-currentPage,
.gridjs-pages button {
    color: var(--dark-color);
}

/* Instructions */
.fit-center {
    max-width: max-content;
    margin: auto;
}

@media screen and (max-width: 480px) {
    #chartContainer {
        height: 300px;
        width: 100%;
    }

    #subtitle {
        font-size: large;
    }

    footer {
        flex-direction: column;
    }

    .separator {
        display: none;
    }

    canvas.canvasjs-chart-canvas {
        width: 100% !important;
        height: auto !important;
    }

    body {
        font-size: small !important;
    }
}